src/engine/debug
src/engine/release
src/depends/SDL-1.3.0/build
bin/*.exe
modules/*.dll
performance_profile.csv
*.*~
src/engine/object_script.HammerEngine.*
Makefile*
src/modules/core/debug
src/modules/core/release
